/* Colors from https://pokepalettes.com/#combee */

body {
	background: #eeeeff;
	color: #393941;
	font-family: Tahoma, sans-serif;
}

h1 {
	border-bottom: 7px solid #ffc500;
}

#search {
	border: 1px solid rgba(255,255,255,0.25);
  background-color: #bdbdd5;
  color: #393941;
  padding: 12px 14px 12px 14px;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  line-height: 1.25;
  margin: 0;
  width: 80%;
  margin-top: 15px;
}

#search:focus {
  border-color:rgba(255,255,255,0.45);
  outline:none
}

#search_area {
	width:100%;
	padding-left: 2%;
}

#errors {
/*	float:right;*/
	/*width: 12%;
	margin-right: 2%;*/
	margin-left: 2%;
	margin-top:5px;
	color: #ee3939;
	font-weight: bold;
	opacity: 0;
	margin-bottom:-40px;
	transition: opacity 0.2s ease-in-out, margin-bottom 0.2s ease-in-out;
	list-style: none;
	padding-left: 0px;
	display: flex;
	width:100%;
}

#errors li {
	display: inline-flex;
	margin-right: 5px;
	display: inline-block;
}

#errors.visible {
	opacity: 1;
	margin-bottom: -30px;
}

.poke-sprite {
/*	display: inline-block;
  background-position: -1502px -462px;
    width: 40px;
    height: 30px;*/
	align-self: flex-end;
}

.dex-number {
	font-weight: bold;
	color: #ffc500;
	display: inline-block;
	width: 50px;
	border: 2px solid #ffc500;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 2px;
	margin-right:0;
	align-self: flex-end;
}

.pokemon-entry {
	min-height: 27px;
	margin-bottom: -18px;
	cursor: pointer;
	display: flex;
}

.pokemon-entry:hover .dex-number, .pokemon-entry.active .dex-number {
	background: #ffc500;
	color: #eeeeff;
}

.pokemon-name {
	font-weight: bold;
	border: 2px solid #393941;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position:relative;
	padding: 2px;
	align-self: flex-end;
}


.pokemon-entry:hover .pokemon-name, .pokemon-entry.active .pokemon-name {
	background: #393941;
	color: #eeeeff;
}

#results {
	list-style: none;
}

.alternate-forms {
	display:block;
	align-self: flex-end;
}

.pokemon-data {
	display:none;
}

.pokesprite.inline {
	margin-right: -18px;
	margin-left: -18px;
	margin-top: -30px;
	margin-bottom:-5px;
}

.pokemon-name.type-bug:after {
  background:#94bc4a;
}

.pokemon-name:after{
  content:"";
  width:100%;
  height:3px;
  left:0;
  bottom:0;
  position:absolute;
  z-index:9;
  background:linear-gradient(to right, var(--type1) 50%, var(--type2) 50%);
}